@charset "utf-8";
/* CSS Document */

html, body {
    margin: 0;
    font-size: 14px;
    font-family: '微软雅黑' Arial, Helvetica, sans-serif !important;
}

/*第一部分*/
.First {
    border: 1px /*solid*/ #ff6a00;
    width: 100%;
    height: auto;
    z-index: 999;
    position: fixed;
}
    /*头部框架*/
    .First .head {
        border: 1px /*solid*/ #0026ff;
        width: 100%;
        height: 45px;
        background-color: #0092d4;
    }
        /*头部左边*/
        .First .head .head_left {
            border: 1px /*solid*/ #4cff00;
            width: 8%;
            height: 44px;
            float: left;
        }

            .First .head .head_left .head_left_img {
                border: 1px /*solid*/ #ff0000;
                width: 12px;
                height: 22px;
                background-image: url(../../Images/head_left.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                margin-top: 12px;
                float: right;
            }
        /*头部中间*/
        .First .head .head_middle {
            border: 1px /*solid*/ #4cff00;
            width: 82%;
            height: 44px;
            font-family: Arial;
            font-size: 18px;
            font-weight: bold;
            color: #ffffff;
            letter-spacing: 1px;
            text-align: center;
            line-height: 44px;
            float: left;
        }
        /*头部右边*/
        .First .head .head_right {
            border: 1px /*solid*/ #4cff00;
            width: 7%;
            height: 44px;
            float: left;
        }

            .First .head .head_right .head_right_img {
                border: 1px /*solid*/ #ff0000;
                width: 22px;
                height: 25px;
                background-image: url(../../Images/head_right.png);
                background-size: 100%;
                background-repeat: no-repeat;
                margin-top: 14px;
                float: left;
            }

/*第二部分*/
.Section {
    border: 1px /*solid*/ #ff6a00;
    width: 100%;
    height: auto;
    margin-top: 45px;
    float: left;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, form, fieldset, input, textarea, img {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
}

a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #ff7f24;
    text-decoration: none !important;
}

a:active {
    color: #ff7f24;
    text-decoration: underline;
}

h1, h2, h3, h4, h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

p {
    font-size: 13px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    clear: both;
}

.abc {
    cursor: pointer;
}

/*台风列表*/
body {
    background: #ccc;
}

#typList {
    position: fixed;
    width: 100%;
    height: 60px;
    background: rgb(169,202,211);
    color: #fff;
    line-height: 60px;
    font-size: 16px;
}

#typhoonName {
    float: left;
    margin-left: 20px;
    line-height: 60px;
}

#typhoonChoose {
    float: right;
    margin-right: 20px;
}

    #typhoonChoose input {
        padding: 0 10px;
        height: 35px;
        background: #fff;
        text-align: center;
        color: #666;
        border-radius: 5px;
        border: #999 1px solid;
        -webkit-appearance: none; /*解决iphone safari上的圆角问题*/
        margin-top:12%;
    }

#typhoonBox {
    position: fixed;
    top: 105px;
    width: 100%;
    display: none;
    z-index: 999;
}

#typhoonYear {
    width: 100%;
    height: 50px;
    background: #fff;
    color: #666;
    position: fixed;
    overflow: hidden;
}

.line {
    position: absolute;
    height: 50px;
    left: 0;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

    .line li {
        float: left;
        height: 60px;
        color: #666;
    }





#legend {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: none;
}

#legendTop {
    width: 100%;
    height: 40px;
    background: #00a3a1;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
}

    #legendTop #close {
        width: 20px;
        height: 20px;
        background: url(../Images/close.png) no-repeat;
        background-size: contain;
        position: absolute;
        right: 10px;
        top: 10px;
    }

#legendBottom {
    width: 100%;
    height: 240px;
    background: url(../Images/legend.png) no-repeat center;
    background-size: cover;
}

#button {
    position: absolute;
    right: 10px;
    top: 165px;
    z-index: 110;
}

#mapChange {
    width: 45px;
    height: 45px;
    /*  background: url(../Images/wxdt.png) no-repeat;*/
    background-image: url(../Images/wxdt.png);
    background-size: contain;
}

#legnedButton {
    width: 47px;
    height: 47px;
    background: url(../Images/legendButton.png) no-repeat;
    background-size: contain;
    margin-top: 10px;
}

#typInformation {
    position: absolute;
    top: 50px;
    width: 100%;
    overflow: hidden;
    height: 225px;
    overflow-y: scroll;
}

    #typInformation table {
        width: 100%;
        text-align: center;
        background: #def; /* #b0e9e8;*/
        border-collapse: collapse;
    }

        #typInformation table tr {
            height: 45px;
            border-top: #fff 1px solid;
        }

            #typInformation table tr:first-child {
                border: none;
            }

        #typInformation table td {
            border-left: #fff 1px solid;
        }

            #typInformation table td:first-child {
                border: none;
            }

.amap-logo {
    /*    right: 10px !important;
    left: auto !important;
    display: none !important;
    width:119px;*/
}

    .amap-logo img, .amap-logo {
        height: 30px !important;
        width: 130px !important;
    }

.amap-copyright {
    right: 0px !important;
    left: auto !important;
    display: none !important;
}

.queryMode {
    height: 50px;
    width: 100%;
    background: #def;
}

.byYear input {
    padding: 0 10px;
    height: 35px;
    background: #fff;
    text-align: center;
    color: #666;
    border-radius: 5px;
    border: #9eb7ca 1px solid;
    margin: 8px;
    -webkit-appearance: none;
}

.bySearch {
    width:50%;
}

    .bySearch input {
        padding-left: 30px;
        height: 35px;
        background: #fff;
        color: #666;
        border-radius: 5px;
        border: #9eb7ca 1px solid;
        margin: 8px;
        width: 200px;
        outline: none;
        /*background: url(../images/sousuo.png) no-repeat 5px center;*/
        background-size: 11%;
        width: 155px;
    }

.tfYear {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    background: rgba(0,0,0,0.7);
    display: none;
}

.tfYearList {
    position: absolute;
    width: 300px;
    height: 400px;
    top: 165px;
    background: #fff;
    left: 50%;
    margin-left: -150px;
    overflow-y: scroll;
}

    .tfYearList li {
        height: 35px;
        line-height: 35px;
        padding: 0 20px;
        margin: auto;
    }

        .tfYearList li:hover {
            background: #ccc;
        }

#search, #cancel {
    display: none;
    padding: 0 14px;
    height: 35px;
    background: #fff;
    text-align: center;
    color: #666;
    border-radius: 5px;
    border: #9eb7ca 1px solid;
    margin: 8px;
    -webkit-appearance: none;
}
