.page-body {
    flex-grow: 1;
    overflow-x: hidden;
}
.page-section {
    position: relative;
    width: 90%;
    left: 5%;
}
.section-body {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}
.hide {
    position: fixed;
    left: 105%;
}
.separator {
    height: 5vw;
}
.text {
    font-size: 30px;
}
.text-mini {
    font-size: 20px;
}
.text-small {
    font-size: 24px;
}
.text-large {
    font-size: 37px;
}
.text-bold {
    font-weight: bold;
}
.text-blue {
    color: #0092d4;
}
.text-gray {
    color: #666;
}